
/.vs
/LoganovLab1/obj
/LoganovLab1/bin
/LoganovLab1Artem/obj
/LoganovLab1Artem/bin
/Lab1Test/bin
/Lab1Test/obj
/Lab1TestArtem/bin
/Lab1TestArtem/obj
/LoganovLab1Test/bin
/LoganovLab2/bin
/LoganovLab2/obj
/LoganovLab2Artem/obj
/LoganovLab2Artem/bin
